// Place all the styles related to the admin::jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main{
  min-height: 700px;
}

// ===管理界面表格样式===
.custab{
  border: 1px solid #ccc;

  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;

  transition: 0.5s;
}

.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}


/*===== Start Job#Admin ====*/
  .admin-job-box{
    margin-top: 5px;
    min-height: 425px;

    table{
      box-shadow: 0 0 3px #999;
    }

    thead{
      background-color: #eee;
      font-size: 16px;
    }

    .hidden-box{
      background-color: #eee;
    }

    .job-list{
      margin-top: 15px;
    }

    .title{
      font-size: 15px;
    }

    .count{
      font-weight: 500;
      color: #4A6BB5;

      span{
        font-family: sans-serif;
        font-size: 18px;
      }
    }

    .wage{
      color: #FF7D0A;
      font-weight: 600;
    }

    .resume{
      background: #333;
      width: 25px;
    }

    .action-box{
      margin-top: -2.5px;
      margin-bottom: -2.5px;
    }

    .show-btn{
      background-color: #B6C9F2;
      border: 1px solid #aaa;
    }

    .show-btn:hover{
      opacity: 0.65;
    }

    .no-data{
      margin-top: 150px;
      margin-bottom: -125px;
      text-align: center;
      color: #555;
    }
  }

  .job-form{
    margin-top: 50px;
    margin-bottom: 100px;
    min-height: 550px;
    h2{
      color: #555;
      text-align: center;
    }
  }

  .resume-form{
    min-height: 400px;
  }

  .job-setup{
    min-height: 1020px;
    background: #fafafa;
    margin-top: 50px;
    margin-bottom: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 1px 3px 5px #333;
    border: 5px solid #666;
    border-radius: 25px;

    opacity:0.95;
    filter:alpha(opacity=95);
    hr {
      height:1px;
      background-color:#ccc;
    }
  }

  .job-form-content{
    h2{
      text-align: center;
      color: #3D537F;
      letter-spacing: 1px;
    }

    .job-content-info{
      height: 225px;
    }

    .category{
      width: 75%;
    }

    .location{
      width: 75%;
    }

    .wage{
      width: 50px;
      border-radius: 5px;
    }

    .wage-form{
      font-weight: 600;
      font-size: 16px;
      color: #666;
    }

    .hidden-box{
      font-size: 16px;
    }


    .form-actions{
      text-align: center;
      margin-top: 50px;
      margin-bottom: 25px;

      .button{
        color: #fff;
        background-color: #4A6BB5;
        border-color: #4A6BB5;
        font-size: 16px;
        letter-spacing: 1px;
        width: 100%;
      }
      .button:hover{
          background-color: #4A99B5;
          border-color: #4A99B5;
          color: #fff;
      }
    }


  }


  .action-btn{
    width: 100px;
    height: 35px;
    font-size: 16px;
    letter-spacing: 1px;
  }


  .admin-select-job-box{
    margin-top: 15px;

    button{
      width: 100px;
    }

    .btn-select{
      background-color: #B6C9F2;
      color: #fff;
    }
  }
  /*===== End Job#admin ====*/

  /*===== Start admin#else ====*/
.admin-box{
  min-height: 500px;
  margin-top: 25px;
  margin-bottom: 50px;


  .title-box{
    .title{
      margin-left: 35%;
      display: inline;
      float: left;
      margin-top: 25px;

    }
    .title h2{
      border-bottom-color: white;
    }
    .button{
      margin-top: 20px;
      display: inline;
      float: right;
    }
  }

  .name-box{
    width: 120px;
    font-size: 16px;
    text-align: center;
    line-height: 35px;
  }

  .show-btn{
    background-color: #B6C9F2;
    border: 1px solid #aaa;
  }

  .lock-btn{
    height: 34px;
    padding-top: 9px;
  }
}

.admin-form{
  background: #fafafa;
  margin-top: 50px;
  margin-bottom: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 1px 3px 5px #333;
  border: 5px solid #666;
  border-radius: 25px;

  opacity:0.95;
  filter:alpha(opacity=95);
  hr {
    height:1px;
    background-color:#ccc;
  }

  .admin-form-content{
    h2{
      text-align: center;
      color: #3D537F;
      letter-spacing: 1px;
    }

    .form-actions{
      text-align: center;
      margin-top: 50px;
      margin-bottom: 25px;

      .button{
        color: #fff;
        background-color: #4A6BB5;
        border-color: #4A6BB5;
        font-size: 16px;
        letter-spacing: 1px;
        width: 100%;
      }
      .button:hover{
          background-color: #4A99B5;
          border-color: #4A99B5;
          color: #fff;
      }
    }
  }
}



  /*===== End admin#else ====*/
