// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*===== 首页开始 ====*/

.jumbotron {  background-image:url("h3.jpg");  background-repeat: no-repeat;  background-size: cover;  padding-bottom: 110px;}.title {  font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;  text-align: center;  margin-top: 200px;  margin-bottom: 80px;}.slogan {  margin-top: 10px;  margin-bottom: 50px;  text-align: center;  color: white;  top: 12px;}.lead {  margin-bottom: 60px;  text-align: center;  color: white;}/*===== 首页结束 ====*/

/*===== footer ====*/
.footer{
    text-align: center;
    min-height: 250px;
    background-color: #002E2E;
    padding: 15px 0;
    color: #fff;
    h4{
        font-size: 16px;
        margin-top: 25px;
        margin-bottom: 15px;
    }

    p{
        font-size: 14px;
    }

    li{
      margin-top: 5px;
    }

    a{
      text-decoration:none;
      color: #ccc;
    }
    a:hover,
    a:active,
    a:focus{
      color: #4A6BB5;
    }

    img{
      width: 35px;
      margin: 5px;
    }

    img:hover{
      opacity: 0.75;
    }

    p{
      a{
        color: #4A6BB5;
      }
      a:hover{
        color: #35CCC6;
      }
    }

    .footer-box{
      text-align: left !important;
      margin-top: 15px;
    }
}

.footer-content{
  font-size: 16px;
  font-family: Raleway;
  color: #ddd;
  letter-spacing: 1px;
  margin-top: 10px;
  font-weight: 200;

  img{
    width: 25px;
    margin-left: 7.5px;
    margin-right: -0.1px;
  }
  img:hover{
    opacity: 1;
  }

}

.goodjob{
  float: right;
  margin-top: -20px;
  img{
    width: 50px;
  }
  a:hover{
    opacity: 0.45;
  }

}


/*===== footer ====*/
